body {
  font-family: 'Poppins', sans-serif;
  background: #6c63ff;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 5px 5px 10px #000;
}

.form-comments p {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 5px 5px 10px #000;
}

textarea {
  resize: none;
}

.form-comments .btn-comments {
  margin-top: 10px;
  background-color: #f8fafb;
}

#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #f8fafb;
  color: #6c63ff;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#scroll-top:hover {
  background-color: #555;
  color: #fff;
}