body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f8fafb;
}

.content {
  padding: 7rem 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

.login-image {
  max-width: 100%;
  height: auto;
}

.form-login {
  padding: 20px;
  border: 1px solid #ccc;
}

.form-login .btn-login {
  color: #fff;
  background-color: #6c63ff;
}